#container {
    margin: 0 auto;
    width: 94%;
}

.newsCard {
    border: 1px solid;
    float: left;
    margin: 0 0 0 2px;
    padding: 9px;
    width: 369px;
    min-height: 325px
}

img {
    width: 100%;
}


.clearfix::before, .clearfix::after, .control-group::before, .control-group::after, .stream-item > div::before, .stream-item > div::after, .module::after, .module::before, .follow-card header::after, .follow-card header::before, .follow-bar::after, .follow-bar::before, .tweet-form::after, .tweet-form::before, .modal-footer::after, .modal-footer::before, .local-trends-breadcrumb::after, .local-trends-breadcrumb::before, .input-prepend .add-on, .input-append .add-on, .wrapper::after, .wrapper::before, .expanded-content::before, .expanded-content::after, .stream-item::before, .stream-item::after {
    content: " ";
    display: table;
}
.clearfix::after, .control-group::after, .stream-item > div::after, .module::after, .follow-card header::after, .follow-bar::after, .tweet-form::after, .modal-footer::after, .local-trends-breadcrumb::after, .wrapper::after, .expanded-content::after, .stream-item::after {
    clear: both;
}
.clearfix::before, .clearfix::after, .control-group::before, .control-group::after, .stream-item > div::before, .stream-item > div::after, .module::after, .module::before, .follow-card header::after, .follow-card header::before, .follow-bar::after, .follow-bar::before, .tweet-form::after, .tweet-form::before, .modal-footer::after, .modal-footer::before, .local-trends-breadcrumb::after, .local-trends-breadcrumb::before, .input-prepend .add-on, .input-append .add-on, .wrapper::after, .wrapper::before, .expanded-content::before, .expanded-content::after, .stream-item::before, .stream-item::after {
    content: " ";
    display: table;
}
.tweet {
    border-bottom: 1px solid #e6ecf0;
}

.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
}
.accordion-toggle {
    cursor: pointer;
}

.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
}
.accordion-toggle {
    cursor: pointer;
}

.account, .tweet, .app {
    border: 1px solid #000;
    border-radius: 32px;
    box-shadow: 3px 0 0 0;
    float: left;
    margin: 0 0 7px 7px;
    overflow: auto;
    padding: 9px 12px;
    width: 381px;
    max-height: 427px;
}

.tweet .card2 {
    margin-top: 10px;
    padding-bottom: 2px;
}
.card2 {
    margin: 20px 0 0;
    padding: 0 0 20px;
}
.card2, .card2 p {
    font-size: 14px;
    line-height: 1.2858;
}

.tweet .QuoteTweet {
    margin-top: 12px;
}
.QuoteTweet {
    border: 1px solid #e6ecf0;
    border-radius: 4px;
    cursor: pointer;
}
.u-block {
    display: block !important;
}
.player-container {
    border-radius: 5px;
    color: #fff;
    overflow: hidden;
    position: relative;
    will-change: transform;
}
#vine-frame, .mobile-video-player, .player-container, .player-wrapper, .video-display, body, html {
    height: 100%;
    width: 100%;
}
.player-controls-bottom-top {
    height: 30px;
    margin-bottom: -5px;
    overflow: hidden;
    padding: 0 15px;
}
.player-controls-bottom-left, .player-controls-bottom-right, .player-controls-bottom-top {
    position: relative;
}

.player-controls-bottom {
    font-size: 12px;
    height: 45px;
    line-height: 40px;
}
.player-controls-bottom-container {
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65)) repeat scroll 0 0;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    bottom: 0;
    font-size: 12px;
    left: 0;
    padding-bottom: 5px;
    position: absolute;
    right: 0;
}

.all-controls {
    -moz-user-select: none;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.15s ease-in-out 0s;
}
.Emoji--forText {
    height: 1.25em;
    padding: 0 0.05em 0 0.1em;
    vertical-align: -0.2em;
    width: 1.25em;
}
li {
    text-align: inherit;
    float: left;
}
.stream, .stream-container, .stream-items {
    list-style: outside none none;
}
.stream, .stream-container, .stream-items {
    list-style: outside none none;
}
.stream, .stream-container, .stream-items {
    list-style: outside none none;
}
.Grid-cell {
    font-size: 14px;
    text-align: left;
}
.Grid {
    font-size: 0;
    text-align: left;
}
.Grid-cell {
    font-size: 14px;
    text-align: left;
}
.Grid {
    font-size: 0;
    text-align: left;
}
.ProfilePage {
    line-height: 1.375;
}
body {
    color: #14171a;
    font-size: 14px;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
html {
    font-family: sans-serif;
}
.stream-item-header .avatar, .permalink-header .avatar {
    float: left;
    margin-left: -58px;
    margin-top: 3px;
}
.edge-design .avatar {
    border-radius: 50%;
}
.avatar {
    -moz-force-broken-image-icon: 1;
    border-radius: 5px;
    height: 48px;
    width: 48px;
}
img {
    border: 0 none;
}
.ProfileTweet-actionList {
    float: left;
    line-height: 1;
    margin-top: 10px;
    width: 100%;
    display: none;
}
.FullNameGroup {
    float: left;
}
.js-short-timestamp {
    display: none;
}
.ProfileTweet-action {
    display: inline-block;
    min-width: 80px;
}

.ReplyingToContextBelowAuthor {
    color: #657786;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 4px;
    padding-top: 4px;
}
.IconContainer {
    display: inline-block;
    line-height: 0;
    position: relative;
    vertical-align: middle;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.Icon--reply {
 background-image: url("./chat.png") !important;
}

.Icon--retweet::before {
 background-image: url("retweet.png")!important;

}
.TweetTextSize{
    float:left;
}
.Icon Icon--heart Icon--medium {
   background-image: url("/tmp/heart.png") !important;
    background-repeat: no-repeat;
    background-size: 21px 22px;

}
.ProfileTweet-action--more {
    float: right;
    margin: -2px -9px 0 0;
    min-width: 0;
}
.Icon::after, .Icon::before {
    display: block;
    font-family: "edgeicons";
    font-style: normal;
    font-weight: normal;
    text-align: center;
}
.Icon::after, .Icon::before {
    display: block;
    font-family: "edgeicons";
    font-style: normal;
    font-weight: normal;
    text-align: center;
}
.Icon--medium {
    font-size: 18px;
    line-height: 18px;
}
.Icon {
    background: transparent none repeat scroll 0 0;
    display: inline-block;
    font-style: normal;
    position: relative;
    vertical-align: baseline;
}
.ProfileTweet-actionCount {
    color: #657786;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    margin-left: 6px;
    position: relative;
    vertical-align: text-bottom;
    }
.ProfileTweet-actionCountList.u-hiddenVisually {
    float: left;
    margin: 2px auto;
    width: 100%;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.account-group .username, .time, .time a, .created-via {
    color: #657786;
    font-size: 14px;
}
.tweet .time::before {
    content: "·";
    float: left;
}
.tweet .time {
    color: #657786;
}

.form-search .dropdown-caret {
    display: block;
}
.typeahead .dropdown-caret {
    display: none;
    left: 16px;
}
.dropdown-menu {
    background: #fff none repeat scroll 0 0 padding-box;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    display: none;
    float: left;
    margin: 2px 0 0;
    padding: 10px 0;
    position: absolute;
    top: 100%;
    z-index: 900;
}
.form-search .typeahead .dropdown-inner {
    max-height: 60vh;
    overflow: auto;
}

element.style {
    display: none;
}
.typeahead-items {
    margin: 0;
    overflow: hidden;
    width: 100%;
}
.AdaptiveMedia.is-square:not(.is-generic-video) {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.AdaptiveMedia.is-square, .AdaptiveMedia.is-square .AdaptiveMedia-videoPreview {
    max-height: 506px;
}
.AdaptiveMedia {
    max-height: 379.5px;
    max-width: 506px;
}
.AdaptiveMedia {
    background-size: 100% 100%;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 100%;
}
.PlayableMedia-player {
    background-size: 100% 100%;
}
#title {
  margin: 0 auto;
  position: relative;
  width: 71%;
}
#title > button {
    border: 1px solid;
    float: left;
    padding: 12px;
    text-align: left;
    width: 100%;
}
#pageMarker {
    height: 31px;
    margin: 20px 0 0;
    padding: 2px 0 0;
    position: relative;
}
.carousel-indicators li {
  background-color: #b2b2b2;
  bottom: 0;
  position: relative;
}
.carousel-indicators .active {
    background-color: #000;
}
.AdaptiveMedia-singlePhoto{
    padding: 0;
}

.AdaptiveMediaOuterContainer {
    margin-top: 10px;
}
.AdaptiveMedia-singlePhoto .AdaptiveMedia-photoContainer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.AdaptiveMedia-photoContainer {
    height: 100%;
    position: relative;
    width: 100%;
}

.ProfileTweet-action--more {
    float: right;
    margin: -2px -9px 0 0;
    min-width: 0;
}

a > img:first-child:last-child {
    transition: box-shadow 0.15s ease-in-out 0s;
}
.twitter-hashflag {
    height: 1.25em;
    padding: 0 0.05em 0 0.1em;
    vertical-align: -0.2em;
    width: 1.25em;
}

.TwitterCard .u-block {
    display: block !important;
}
.tcu-imageWrapper img {
    height: 100%;
    opacity: 0;
    width: 100%;
}
.TwitterCard img {
    border: 0 none;
}

.TwitterCard .SummaryCard--small .SummaryCard-image {
    border-right-width: 1px;
    width: 8.81667em;
}
.TwitterCard .SummaryCard-image {
    background-color: #e1e8ed;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.TwitterCardsGrid .TwitterCardsGrid-float--prev {
    float: left;
}

.TwitterCardsGrid .TwitterCardsGrid-col--12 {
    clear: both;
    float: left;
    width: 100%;
}
.TwitterCard .SummaryCard-image .tcu-imageWrapper {
    background-image: url("//ton.twimg.com/tfw/assets/news_stroke_v1_78ce5b21fb24a7c7e528d22fc25bd9f9df7f24e2.svg");
    background-size: 3em auto;
}
.AdaptiveMedia-singlePhoto img {
    display: block;
    max-width: 100%;
}
img {
    border: 0 none;
}
.ProfileTweet-actionButtonUndo.ProfileTweet-action--unfavorite.u-linkClean.js-actionButton.js-actionFavorite {
    display: none;
}
.ProfileTweet-actionButtonUndo.js-actionButton.js-actionRetweet {
    display: none;
}
.ProfileTweet-actionButton, .ProfileTweet-actionButtonUndo {
    color: #657786;
    display: inline-block;
    font-size: 13px;
    line-height: 1;
    max-width: 62px;
    padding: 0;
    position: relative;
    text-align: left;
}
.clearfix::before, .clearfix::after, .control-group::before, .control-group::after, .stream-item > div::before, .stream-item > div::after, .module::after, .module::before, .follow-card header::after, .follow-card header::before, .follow-bar::after, .follow-bar::before, .tweet-form::after, .tweet-form::before, .modal-footer::after, .modal-footer::before, .local-trends-breadcrumb::after, .local-trends-breadcrumb::before, .input-prepend .add-on, .input-append .add-on, .wrapper::after, .wrapper::before, .expanded-content::before, .expanded-content::after, .stream-item::before, .stream-item::after {
    content: " ";
    display: table;
}
.TwitterCard .u-block {
    display: block !important;
}
.TwitterCard-container--clickable {
    cursor: pointer;
    outline-offset: -1px;
    transition: background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s;
}
.TwitterCard-container {
    border-color: #e1e8ed;
    border-radius: 0.42857em;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: inherit !important;
    overflow: hidden;
}
.TweetTextSize.TweetTextSize--normal {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
.tweet .js-tweet-text {
    white-space: pre-wrap;
}
.tweet p {
    overflow-wrap: break-word;
}
.TweetTextSize {
    font-size: 14px;
    line-height: 20px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
a {
    color: #0084b4;
    text-decoration: none;
}

.TwitterCardsGrid .TwitterCardsGrid-col--spacerBottom, .TwitterCardsGrid-rtl .TwitterCardsGrid-col--spacerBottom {
    margin-bottom: 0.32333em;
}
.TwitterCardsGrid .TwitterCardsGrid-col--12 {
    clear: both;
    float: left;
    width: 100%;
}
img {
    border: 0 none;
}

.Icon--verified::before {
    color: #fff;
}
.Icon--verified::before {
    content: "";
    font-size: 0.7em;
    left: 26%;
    line-height: 1;
    position: absolute;
    top: 20%;
}
.Icon::after, .Icon::before {
    display: block;
    font-family: "edgeicons";
    font-style: normal;
    font-weight: normal;
    text-align: center;
}
.Icon--verified::after {
    content: "";
    line-height: 1;
    position: relative;
}
.Icon::after, .Icon::before {
    display: block;
    font-family: "edgeicons";
    font-style: normal;
    font-weight: normal;
    text-align: center;
}
.account-group .UserBadges .Icon {
    padding-left: 2px;
}
.Icon--verified {
    color: #1da1f2;
}
.Icon {
    background: transparent none repeat scroll 0 0;
    display: inline-block;
    font-style: normal;
    position: relative;
    vertical-align: baseline;
}

.account-group .UserBadges {
    font-size: 0.9em;
    position: relative;
    top: 1px;
}

.stream-item-header {
    float: right;
    width: 294px;
}
div[id^=slot-]{
    margin: 0 auto;
}
.slot {
    display: -webkit-inline-box;
    height: 420px;
    margin: 0 0 0 217px;
    overflow: scroll;
    position: relative;
    width: 73%;
    z-index: 99;
}





.searchInput .searchInputSpan{
    background: white !important;
}
.searchInput .search-form{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.searchInput button{
    border:0;
    background:transparent;
}